body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a1d22;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #e6eaf0;
}

* {
  box-sizing: border-box;
}

#weatherform {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #1a1d22;
}

#form {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

input[type="text"] {
  justify-self: center;
  align-self: start;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  margin-top: 5px;
  border: none;
  min-width: 200px;
  height: 30px;
  border-radius: 5px;
  background-color: #363c42;
  color: #e6eaf0;
}

input[type="text"]:focus {
  outline: none;
}

#searchBtn {
  align-self: start;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  justify-self: center;
  width: 80px;
  margin-top: 5px;
  height: 30px;
  border-radius: 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

#searchBtn:hover {
  background-color: #0056b3;
}

#errordiv {
  align-self: start;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 4;
  justify-self: center;
  margin-top: 30px;
  color: red;
}

#headerdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 5;
  margin-top: 10px;
}

#header1 {
  font-size: 3rem;
}

#header2 {
  font-size: 3rem;
  margin-left: 7px;
}

#recent-searches {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #1a1d22;
}

#recent-search-list {
  text-align: center;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.recent-search-item {
  text-align: center;
  width: 90px;
  height: 90px;
  padding: 5px;
  background-color: #007bff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2px;
  font-size: 1rem;
  color: #fff;
  border-radius: 5px;
}

#recent-search-heading {
  font-size: 1.2rem;
  color: #e6eaf0;
  margin-bottom: 10px;
}

.recent-search-item:hover {
  cursor: pointer;
  background-color: #0056b3;
}

.list-element-icon {
  width: 40px;
  height: 40px;
}
