body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a1d22;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #e6eaf0;
}

* {
  box-sizing: border-box;
}

#weatherform {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 800px;
  background: #1a1d22;
  padding-left: 50px;
  padding-right: 50px;
}

#form {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

input[type="text"] {
  justify-self: center;
  align-self: start;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  margin-top: 5px;
  border: none;
  height: 20px;
  border-radius: 5px;
  background-color: #363c42;
  color: #e6eaf0;
}

input[type="text"]:focus {
  outline: none;
}

#searchBtn {
  align-self: start;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  justify-self: center;
  width: 70px;
  margin-top: 5px;
  height: 20px;
  border-radius: 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

#errordiv {
  align-self: start;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 4;
  justify-self: center;
  margin-top: 30px;
  color: red;
}

#headerdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 5;
}

#header1 {
  font-size: 2.5rem;
}

#header2 {
  font-size: 2.5rem;
  margin-left: 7px;
}
